<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component" label="Settings">
        <field
			name="table"
			type="text"
			label="Table that conversions should be applied"
			description="Select the table that the app shall act upon"
			default="content"
			>
		</field>
		<field
			name="columns"
			type="text"
			label="Columns that conversions should be applied"
			description="Type the columns separated by comma that the app shall act upon"
			default="introtext,fulltext"
			>
		</field>

		<field
			name="id"
			type="text"
            label="The primary key column name"
            description="Type primary key column name that the app should use for targeting each row in the DB"
			default="id"
			>
		</field>
	</fieldset>
</config>
